<article class="task">
  <div class="title">
                            <div class="form-check mb-3">
                            <input class="form-check-input" id="flexCheck1" type="checkbox" checked>
                            <label class="form-check-label" for="flexCheck1"><span class="fst-italic pl-1">{{title}}</span></label>
                        </div>
    {{!-- <div>{{title}}</div> --}}
    <span>({{task_info}})</span>
    {{!-- <div>({{task_timer}})</div> --}}
  </div>
</article>