<div class="form-check mb-3 task">
  <input class="form-check-input" id="flexChec2" type="checkbox" />
  <label class="form-check-label" for="flexChec2"><span
      class="fst-italic pl-1"
    >{{title}}</span></label>
</div>