

<section>
  <h2>Create New Task</h2>

  <form>
    <div>
      <label for="task-title">Title</label>
      <input type="text" id="task-title"/>
    </div>
    <div>
      <label for="task_info">Task</label>
      <input id="task_info" type="text"/>
    </div>
    <button type="submit" class="task-button">Create</button>
  </form>
  
</section>




<script src="/javascript/create-task.js"></script>