

<section>
  <h2>Create New Task</h2>

  <form>
    <div>
      <label for="task-title">Title</label>
      <input type="text" id="task-title"/>
    </div>
    <div>
      <label for="task_info">Task</label>
      <input id="task_info" type="text"/>
    </div>
    <button type="submit" class="task-button">Create</button>

    {{!-- <input  type="date"  name="DateOfBirth"class="form-control"  ng-model="patient.DateOfBirth" format="dd/mm/yyyy"  required="true" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-disabled="patient.PatientId" ng-click="open()">
          <i class="fa fa-calendar"></i>
        </button> --}}
      {{!-- </span> --}}
  </form>
  
</section>

{{#if task.length}}
<section>
  <h2>Your Tasks</h2>
  <ol>
    {{#each task as |task|}}
    <li name="task-title">
       {{!-- {{> task-info task}}  --}}
      <a href="/dashboard/edit/{{id}}" class="edit-link">{{title}}</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
</form>

<script src="/javascript/create-task.js"></script>