* {
  background-size: auto;
}
.page-content {
  background-image: url("/images/jarvis-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #071A38;
  min-height: 100vh;
}
.dash-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
}
.btn {
  color: #071A38;
  background-color: #ababab;
  border: 10px solid #ababab;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px, 30px, 30px, 30px;
  margin-left: 6rem;
}
h4 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-left: 2rem;
}
#create{
  width: 65%;
}
#logout{
width: 50%;
}
.form-check {
  margin-top: 0.5rem;
  text-align: center;
}
.rounded {
  border-radius: 1rem !important;
}
input:checked + label {
  text-decoration: line-through 5px #34E5EB;
  color: #8B8B8B;
  text-align: center;
}
label {
  cursor: pointer;
}
.card {
  background:rgba(0,0,0,0.0);
}

