* {
    background-size: auto;
}
body {
    background-image: url("/images/jarvis-img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.display-4 {
    font-weight: bold;
}
h1 {
    color: #071A38;
    font-size: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 1.5rem;
    font-weight: bold;
}
.underline {
    border-bottom: 5px solid;
    border-color: #34E5EB;
    width: 30%;
    margin-left: 42rem;
    margin-bottom: 1.5rem;
}
form {
    margin-top: 2.5rem;
}
form label {
    margin-left: 45rem;
}

form input {
    margin-left: 45rem;
    width: 25%;
}
input {
    border: 5px solid #ababab;
    border-radius: 10px;
    padding: 5px;
    width: 20%;
    font-size: 18px;
    margin-left: 42rem;
}
.btn {
    color: white;
    background-color: #071A38;
    border: 10px solid #071A38;
    border-radius: 10px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 57rem;
    margin-top: 2rem;
}